@media (max-width: 1700px)
    .browser 
        background-position-x: 150%
@media (max-width: 1600px)
    .pricing 
        .slick-slide 
            margin: 0 40px
    .dragdrop
        padding-left: 2%
        padding-right: 2%
        &-slider 
            margin-left: 59px
    .features
        .slick-slide 
            padding: 0 30px
    .browser 
        background-position-x: 170%
    .powerfull 
        .description
            width: 544px
            &::before //line
                width: 507px
    .join
        p 
            width: 60%
@media (max-width: 1440px)
    .pricing 
        .slick-slide 
            margin: 0 25px
    .browser 
        background-position-x: 290%

    .dragdrop
        &-slider 
            width: 405px
            p 
                font-size: 16px
        .drop
            width: 348px
        &--progres
            margin-right: 15px
@media (max-width: 1360px)
    .pricing 
        .slick-slide 
            margin: 0 35px
            .number
                font-size: 60px
            .dollar 
                font-size: 35px
            .month 
                font-size: 20px
            .pricing-list 
                li 
                    font-size: 16px
    .features 
        .slick-slide 
            padding: 0 15px
    .dragdrop
        .drop 
            width: 300px
            .task-title
                font-size: 16px
    .container 
        max-width: 90%

    .browser 
        background-position-x: 170%
        background-size: 70%
        margin: 80px 0 114px
    .powerfull 
        .screen 
            width: 818px
            height: 381px
        .description
            width: 494px
            &-first 
                top: 230px
            &-second 
                top: 400px
            &::before //line
                width: 457px
@media (max-width: 1200px)
    .footer 
        flex-direction: column
        align-items: center
        padding: 41px 5%
        &-copy 
            order: 2
            padding-top: 30px
    .join
        p 
            width: 80%
    .pricing 
        .slick-slide 
            margin: 0 15px
    .dragdrop
        justify-content: space-between
        &-slider 
            .h2 
                font-size: 45px
            width: 35%
            margin-left: 15px
    .features
        .slick-slide 
            margin: 0 10px
    .browser
        background-position-y: 100%
        padding: 100px 0 140px
        background-size: 80%
        background-position-x: 280%
        margin: 30px 0 64px
        p 
            width: 60%

    .slick-slide 
        margin: 0 10px
    .powerfull
        .screen 
            width: 718px
            height: 381px
        .description
            width: 404px
            &::before //line
                width: 91%
            &-second 
                top: 450px
            .h3 
                font-size: 20px 
            p 
                font-size: 16px
@media (max-width: 992px)   
    .main-menu 
        display: block
    .home 
        &-button 
            &:hover 
                &:before 
                    animation-play-state: paused
    .features, .pricing 
        .dragdrop 
            &-arrow
                margin-bottom: -65px
            &-prev, &-next  
                left: 50%
                transform: translateX(-50%)
            &-next 
                margin-left: 25px
            &-prev 
                margin-left: -25px
    .footer 
        padding-top: 48px
        padding-bottom: 35px
        flex-direction: column
        align-items: center
        &-copy 
            padding-top: 20px
            order: 2
    .join 
        padding-top: 102px
        padding-bottom: 53px
        p
            font-size: 16px
    .pricing 
        .slick-slide 
            margin: 0 25px
            .number
                font-size: 72px
            .dollar 
                font-size: 44px
            .month 
                font-size: 24px
            .pricing-list 
                li 
                    font-size: 18px
    .pricing 
        .slick-list 
            overflow: hidden
            padding-top: 20px
            padding-bottom: 20px
    .features 
        position: relative
        .slick-slide 
            padding: 0 30px
            margin: 0
    .powerfull 
        .description 
            width: 304px
            &-second
                top: 470px
            &::before 
                width: 88%
        .h2 
            font-size: 50px
        p 
            font-size: 16px
    .drop 
        max-width: 84%
    .dragdrop
        padding-left: 2%
        padding-right: 2%
        &-slider 
            width: 70%
            .h2
                font-size: 60px
            p 
                font-size: 18px
        &--progres
            margin: 0
        &-area 
            display: none
    .area 
        width: 50%
    .drop 
        margin-bottom: 32px
    .dragdrop 
        .task 
            width: 100%
            flex-direction: column
            padding: 15px
            align-items: flex-start
            &-icon 
                margin: 0
                margin-bottom: 5px
    

            
    .browser 
        background-image: none!important
        padding: 10px 0
    .header 
        height: 660px
    //top-nav
    .top-nav
        width: 500px
        height: 80px
        .menu
            li
                display: none
                &:last-child
                   display: block
        .logo 
            height: 56px
    .top-hamburger
        display: block
    //home
    .home
        &-img
            width: 60%
        .h1
            font-size: 40px
            span
                font-size: 25px 
    .price 
        .slick-slide 
@media (max-width: 768px)
    .footer 
        a 
            padding: 0 15px
            &.social 
                padding: 0 8px
        &-copy 
            text-align: center
            br 
                display: block
    .join
        p 
            width: 90%
    .pricing
        .h2 
            font-size: 50px
            line-height: 1.3
        .slick-slide 
            margin: 0 90px
    .features 
        .slick-slide 
            padding: 0 100px
        &-item 
            p 
                padding: 0 16px
                
    .container 
        max-width: 95%
    .powerfull 
        padding-top: 54px 
        .h2
            font-size: 35px
        p 
            font-size: 14px
        .screen 
            width: 458px
            height: 321px
            margin-top: 107px
            background-size: contain
    .browser 
        .h1
            font-size: 50px
        p
            width: 80%
    .home 
        &-img 
            width: 80%
    .features-prev
        left: 0
    .features-next
        right: 0
    .features-arrow
        width: 15px
        height: 20px
        
@media (max-width: 569px)
    .footer
        &-copy 
            font-size: 14px
    .pricing 
        .slick-slide 
            margin: 0 40px
    .features 
        .slick-slide 
            padding: 0
            p 
                padding-left: 0
                padding-right: 0
    .powerfull
        &-gradient 
            height: 120px
        .h2
            font-size: 30px
        .screen 
            margin-top: 140px
            width: 385px
            height: 221px
            .description
                &::after 
                    display: none
            &::before 
                width: 80%
    .dragdrop
        padding: 53px 2% 109px
        &-arrow 
            left: 0
        &-slider 
            width: 95%
            .h2 
                font-size: 40px
            p 
                font-size: 16px
        &-area 
            display: none
    .features-arrow
        opacity: 0.3
    .features-prev
        left: -10px
    .features-next
        right: -10px
    .container
        max-width: 90%
    .header
        height: 550px
    .top-nav
        .logo
            width: 150px
    .home 
        .h1 
            font-size: 30px
            span 
                font-size: 16px
    .features
        .owl-item
            padding: 0px
        &-item
            p 
                font-size: 12px
    .browser
        .h1
            font-size: 40px 
        p 
            width: 100%
            font-size: 14px
        &-feat 
            font-size: 14px
            &::before 
                width: 20px
                height: 20px
    .features
        padding-top: 40%
        &--button
            padding: 10px 54px
    .top-nav
        .menu
            display: none
    .top-hamburger
        order: 1
    .home
        &-button
            font-size: 15px
            padding: 4px 32px
        &-img
            width: 95%
            margin-top: 60px
@media (max-width: 498px)
    .powerfull 
        &-gradient 
            display: none
    .join 
        p 
            font-size: 14px
    .footer 
        a
            &.social 
                display: none
        &-copy 
            font-size: 12px
    .pricing 
        .h2 
            margin-top: 20px
            font-size: 30px
        .slick-slide 
            margin: 0 35px
            .number
                font-size: 50px
            .dollar 
                font-size: 30px
            .month 
                font-size: 18px
            .pricing-list 
                li 
                    font-size: 14px
    .dragdrop 
        &-slider 
            margin: 0
            
            p
                font-size: 14px
            .h2 
                font-size: 35px
    .features
        &-arrow 
            z-index: 99
        &-item 
            p 
                padding: 0 15px
    .powerfull
        .description
            .h3
                animation: none
                opacity: 1
            p 
                animation: none 
                transform: scaleY(1)
                opacity: 1
        padding-bottom: 20px
        &-gradient 
            display: none
        padding-top: 54px 
        .h1 
            font-size: 25px
        .screen 
            display: none
        .description
            position: static
            text-align: center
            width: 100%
            &-first, &-second 
                margin: 0
            &-first 
                top: 213px
                margin-top: 40px
            &::after 
                display: none
            &::before 
                display: none
            &-second 
                left: 0
                top: 376px
                margin-top: 40px
                &::before 
                    left: 0 

@media (max-width: 391px)
    .footer 
        a 
            padding: 0 5px
    .pricing 
        .slick-slide 
            margin: 0 10px
    .features
        &-arrow 
            display: none
    .powerfull
        .description
            &-first 
                top: 270px
            &-second 
                top: 420px