/* accent color #5366f4 */

*,*::after, *::before{
    box-sizing: border-box;
}
body, html{
    padding: 0;
    margin: 0;
    color: #0e0e0e;
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,h2{
    font-size: 46px;
    font-weight: 600;
}
p{
    font-weight: 300;
}
.top-nav{
    padding: 37px 0;
}
.top-nav a{
    text-decoration: none;
    color: inherit;
}
.menu{
    font-size: 22px;
}
.menu li {
    margin-right: 30px;
}
.menu li:last-child{
    margin-right: 0;
}
.top-nav .info{
    font-size: 22px;
    margin-right: 60px;
}
.offer{
    margin-top: 50px;
}
.offer-item{
    overflow: hidden;
    max-width: 565px;
    height: 565px;
    width: 100%;
    background-color: #5366f4;
    margin-right: 30px;
    position: relative;
    border-radius: 5px;
    color: #fff;
    padding-top: 100px;
    padding-left: 70px;
}
.offer-item > * {
    position: relative;
    z-index: 2;
}

.offer-item p{
    color: #ced4ff;
}
.offer-contacts{
    color: #d3d8ff;
    font-size: 20px;
    margin-top: 60px;
}
.offer-contacts a {
    text-decoration: none;
    color: inherit;
}
.offer-item img{
    width: 102%;
    height: 102%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.offer-item:last-child{
    margin-right: 0;
}
.main-button{
    background-color: #5366f4;
    font-size: 20px;
    border-radius: 5px;
    padding: 16px 72px;
    color: #fff;
    text-decoration: none;
    transition: 0.25s ease all;
}
.main-button:hover{
    background-color: #808eff;
}
.main-button.empty:hover{
    background-color: #5366f4;
    color: #fff;
}
.main-button.empty{
    padding: 14px 32px;
    background-color: transparent;
    text-transform: uppercase;
    color: #5366f4;
    border: 1px solid #5366f4;
    transition: 0.25s all;
    
}
.container, .container-small{
    width: 90%;
    margin: 0 auto;
}
.container{
    max-width: 1170px;
}
.container-small{
    max-width: 768px;
}
.flex{
    display: flex;
}
.jcsb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.fxww{
    flex-wrap: wrap;
}
.fxdc{
    flex-direction: column;
}
.tac{
    text-align: center;
}
.menu-mobile{
    display: none;
    opacity: 0;
}
.top-nav__hamburger{
    display: none;
}
h2{
    text-align: center;
}
section{
    padding: 60px 0;
}
.services-icon{
    margin-right: 44px;
}
.services-item h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.services-item p{
    margin-top: 0;
}
.services-item{
    margin: 30px 0;
}
section .main-button{
    margin-top: 50px;
}
.about{
    background-color: #5366f4;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-top: 40px;
}
.about h2{
    color: #fff;
}
.about p {
    color: #e4ecff;
    font-size: 28px;
}
.price-item{
    padding: 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}
.contacts-info{
    margin-bottom: 16px;
}
.contacts-info a:hover{
    opacity: 0.6;
}
.contacts-info a{
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    padding: 3px 0;
    display: inline-block;
    transition: .25s ease all;
}

.contacts-adress{
    color: #6d6d6d;
    font-size: 18px;
    padding: 30px 0;
}
.contacts-social-item{
    background-color: #5366f4;
    text-decoration: none;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0 3px;
    transition: .25s ease all;
}
.contacts-social-item img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 16px;
    filter: invert(1);
}
.contacts{
    padding-bottom: 50px;
}
.contacts-social-item:hover{
    opacity: 0.6;
}
.offer-contacts span {
    display: block;
    margin: 4px 0;
}