@media (max-width: 992px){
    body{
        font-size: 20px;
    }
    h1,h2{
        font-size: 36px;
    }
    .top-nav{
        padding: 20px 0;
    }
    .offer{
        margin-top: 40px;
    }
    section{
        padding: 30px 0;
    }
    .services-item{
        margin: 15px 0;
    }
    .main-button{
        font-size: 18px;
    }
    .offer-item{
        padding-top: 116px;
    }
    .top-nav{
        position: relative;
    }
    .top-nav .menu{
        display: none;
    }
    .about p{
        font-size: 24px;
    }
    .contacts-info a{
        font-size: 26px;
    }
    .menu-mobile{
        display: flex;
        position: absolute;
        width: 100%;
        background-color: #ffffff;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        transform: translateX(-100%);
        z-index: 99;
        text-align: center;
        padding: 60px 0;
        left: 0;
        top: 100px;
        transition: .25s ease all;
        opacity: 1;
        padding-bottom: 180px;
    }
    .menu-mobile.active{
        transform: translateX(0);
    }
    .menu-mobile li{
        margin: 0;
        margin: 20px 0;
    }
    .top-nav__hamburger{
        display: block;
        opacity: 0.8;
    }
    .offer .container {
        justify-content: center;
    }
    .offer-item:first-child{
        display: none;
    }
    .offer-item{
        padding-left: 0;
        text-align: center;
    }
}
@media (max-width: 768px){
    .top-nav .info{
        display: none;
    }
}
@media (max-width: 596px){
    body{
        font-size: 16px;
    }
    h1,h2{
        font-size: 28px;
    }
    .about {
        padding-top: 54px;
    }
    .about p{
        font-size: 18px;
    }
    .main-button{
        font-size: 16px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .contacts-info a{
        font-size: 20px;
    }
    .services-icon{
        display: none;
    }
    .offer-item{
        padding-top: 50px;
        height: 386px;
    }
    .hamburger-inner, .hamburger-inner:after, 
    .hamburger-inner:before{
        width: 26px;
        height: 2px;
    }
    .main-button{
        padding: 10px 23px;
    }
    .offer-contacts a {
        font-size: 16px;
    }
}