* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  line-height: 1.75;
}

ul {
  padding: 0;
  margin: 0;
}

header {
  height: 95vh;
  background-size: cover;
}

.container {
  width: 1400px;
  max-width: 80%;
  margin: 0 auto;
}

.home {
  text-align: center;
}

.home-img {
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
  -webkit-box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
}

.home-img img {
  width: 100%;
}

.home-button {
  border-radius: 24px;
  background-color: #5584ff;
  color: #ffffff;
  letter-spacing: 0.24px;
  padding: 10px 55px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.home-button:hover {
  background-color: #3c72ff;
}

.home .h1 {
  color: white;
  font-size: 54px;
  font-weight: 100;
  padding-top: 50px;
  line-height: 1.2;
}

.home .h1 span {
  font-size: 30px;
  color: #8492af;
  display: block;
  font-weight: 500;
  padding-top: 5px;
}

.top-hamburger {
  display: none;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
  max-width: 85%;
  width: 1690px;
  margin: 0 auto;
}

.top-nav .hamburger {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-nav .hamburger-inner {
  width: 90%;
  height: 2px;
  background: white;
  display: inline-block;
}

.top-nav .logo {
  width: 200px;
  line-height: 55px;
}

.top-nav .logo img {
  width: 100%;
  vertical-align: middle;
}

.top-nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.top-nav .menu li {
  padding-right: 50px;
}

.top-nav .menu li:last-child {
  padding-right: 0;
}

.top-nav .menu li:last-child a:hover {
  opacity: 1;
}

.top-nav .menu a {
  color: #ffffff;
  letter-spacing: 0.24px;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.top-nav .menu a:hover {
  opacity: 0.6;
}

.top-nav .menu a.button {
  color: #5584ff;
  padding: 13px 43px;
  border: 1px solid rgba(85, 132, 255, 0.3);
  border-radius: 100px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.top-nav .menu a.button:hover {
  background-color: #5584ff;
  color: white;
}

.features-arrow {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 25px;
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.4;
}

.features-prev {
  background-image: url("../img/features/left-arrow.svg");
  left: -15px;
}

.features-next {
  background-image: url("../img/features/right-arrow.svg");
  right: -15px;
}

.features {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 240px;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .slick-slide {
  padding: 0 60px;
}

.features-item {
  text-align: center;
}

.features-item p {
  color: #8492af;
}

.features--button {
  text-decoration: none;
  font-weight: 700;
  color: #0e1a35;
  border-radius: 24px;
  border: 1px solid rgba(132, 146, 175, 0.3);
  padding: 10px 85px;
  margin-top: 12px;
  display: inline-block;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.features--button:hover {
  border: 1px solid rgba(132, 146, 175, 0.6);
}

.features--title {
  color: #0e1a35;
  font-size: 20px;
}

.features--icon {
  width: 60px;
  margin: 0 auto;
}

.features--icon img {
  width: 100%;
}

.browser {
  margin: 220px 0 120px;
  background: no-repeat;
  background-position-x: 125%;
  background-size: contain;
  background-position-y: center;
  padding: 70px 0;
}

.browser .h1 {
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 30px;
}

.browser p {
  color: #8492af;
  font-size: 18px;
  width: 45%;
}

.browser-feat {
  padding: 12px 0;
  color: #5584ff;
  position: relative;
  padding-left: 40px;
  font-size: 20px;
}

.browser-feat::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  width: 28px;
  height: 28px;
  background: center center no-repeat;
  background-size: cover;
  background-image: url("../img/browser/agree.png");
}

.drop {
  width: 390px;
  height: 100px;
  border: 1.5px dashed #344364;
  margin-bottom: 13px;
  position: relative;
}

.dragdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 5% 160px;
}

.dragdrop-arrow {
  position: absolute;
  bottom: 0;
  margin-bottom: -45px;
  border: none;
  background-color: transparent;
}

.dragdrop-next {
  margin-left: 54px;
}

.dragdrop-slider {
  width: 533px;
  margin-left: 118px;
}

.dragdrop--progres {
  margin-right: 48px;
}

.dragdrop .hint {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #8492af;
  font-size: 20px;
}

.dragdrop .task {
  color: #000000;
  z-index: 1;
  position: relative;
  width: 390px;
  max-width: 100%;
  background-color: #ffffff;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.dragdrop .task:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.dragdrop .task-title {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  line-height: 1.4;
}

.dragdrop .task-left {
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  display: block;
}

.dragdrop .task-icon {
  margin-right: 23px;
  margin-left: 30px;
  color: #fff;
  background-color: #5584ff;
  width: 38px;
  height: 38px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  font-weight: 500;
  font-size: 18px;
}

.dragdrop-slider .h2 {
  font-size: 60px;
  line-height: 1.3;
  margin-bottom: 25px;
  font-weight: 300;
}

.dragdrop-slider p {
  font-size: 18px;
  margin: 25px 0;
  color: #8492af;
}

.dragdrop-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dragdrop-area .h3 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 15px;
}

.dragdrop-area .h3 span {
  color: #8492af;
}

.invisible {
  display: none;
}

.hovered {
  border-color: #546997;
}

.hold {
  border: 2px #ccc 4px;
}

.powerfull {
  text-align: center;
  background-color: #f6f7fa;
  padding: 100px 0 172px;
}

.powerfull .container {
  position: relative;
}

.powerfull .h2 {
  font-size: 60px;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

.powerfull p {
  font-size: 18px;
  color: #8492af;
}

.powerfull .screen {
  width: 1118px;
  height: 581px;
  background: url("../img/powerfull/screen.png") center no-repeat;
  background-size: contain;
  display: inline-block;
  margin-top: 60px;
}

.powerfull .description {
  text-align: left;
  position: absolute;
  width: 644px;
}

.powerfull .description-first {
  top: 280px;
  left: 0;
}

.powerfull .description-first::before {
  left: 0;
}

.powerfull .description-second {
  text-align: right;
  right: 0;
  top: 560px;
}

.powerfull .description-second::after {
  left: 0;
}

.powerfull .description-second::before {
  right: 0;
}

.powerfull .description::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  margin-top: 28px;
  width: 30px;
  height: 30px;
  background-color: #5584ff;
  border-radius: 50%;
  border: 7px solid rgba(153, 204, 255, 0.6);
  opacity: 0.8;
}

.powerfull .description::before {
  content: '';
  position: absolute;
  top: 0;
  margin-top: 48px;
  width: 607px;
  height: 2px;
  background-color: #5584ff;
}

.powerfull .description .h3 {
  font-size: 24px;
  margin: 0;
}

.powerfull .description p {
  color: #8492af;
}

.agree, .cansel {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 14px;
}

.agree {
  background: url("../img/price/agree.png");
}

.cansel {
  background: url("../img/price/cansel.png");
}

.pricing .h2 {
  font-size: 60px;
  font-weight: 100;
  text-align: center;
}

.pricing .slick-list {
  overflow: visible;
}

.pricing .slick-slide {
  margin: 0 55px;
}

.pricing-item {
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px rgba(85, 132, 255, 0.5);
          box-shadow: 0 0 20px rgba(85, 132, 255, 0.5);
  padding-top: 48px;
  padding-bottom: 48px;
}

.pricing-item .h3 {
  margin: 0;
  color: #0e1a35;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}

.pricing-item .number {
  color: #0e1a35;
  font-size: 72px;
  font-weight: 700;
}

.pricing-item .dollar {
  font-size: 44px;
}

.pricing-item .month {
  color: #8492af;
  font-size: 24px;
  font-weight: normal;
}

.pricing-list {
  padding-top: 10px;
}

.pricing-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  color: #8492af;
  padding: 4px 0;
  letter-spacing: 0.36px;
}

.join {
  padding-top: 130px;
  padding-bottom: 90px;
  text-align: center;
}

.join .home-button {
  margin: 20px 0;
}

.join p {
  width: 50%;
  margin: 0 auto;
  color: #8492af;
  font-size: 18px;
}

.footer {
  margin-top: 20px;
  padding: 64px 5%;
  background-color: #0e1a35;
  color: #8492af;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer a {
  color: #8492af;
  text-decoration: none;
  padding: 0 25px;
}

.footer a.social {
  padding: 0 10px;
}

@media (max-width: 1700px) {
  .browser {
    background-position-x: 150%;
  }
}

@media (max-width: 1600px) {
  .pricing .slick-slide {
    margin: 0 40px;
  }
  .dragdrop {
    padding-left: 2%;
    padding-right: 2%;
  }
  .dragdrop-slider {
    margin-left: 59px;
  }
  .features .slick-slide {
    padding: 0 30px;
  }
  .browser {
    background-position-x: 170%;
  }
  .powerfull .description {
    width: 544px;
  }
  .powerfull .description::before {
    width: 507px;
  }
  .join p {
    width: 60%;
  }
}

@media (max-width: 1440px) {
  .pricing .slick-slide {
    margin: 0 25px;
  }
  .browser {
    background-position-x: 290%;
  }
  .dragdrop-slider {
    width: 405px;
  }
  .dragdrop-slider p {
    font-size: 16px;
  }
  .dragdrop .drop {
    width: 348px;
  }
  .dragdrop--progres {
    margin-right: 15px;
  }
  .features .owl-item {
    padding: 0 20px;
  }
}

@media (max-width: 1360px) {
  .pricing .slick-slide {
    margin: 0 35px;
  }
  .pricing .slick-slide .number {
    font-size: 60px;
  }
  .pricing .slick-slide .dollar {
    font-size: 35px;
  }
  .pricing .slick-slide .month {
    font-size: 20px;
  }
  .pricing .slick-slide .pricing-list li {
    font-size: 16px;
  }
  .features .slick-slide {
    padding: 0 15px;
  }
  .dragdrop .drop {
    width: 300px;
  }
  .dragdrop .drop .task-title {
    font-size: 16px;
  }
  .container {
    max-width: 90%;
  }
  .browser {
    background-position-x: 170%;
    background-size: 70%;
    margin: 80px 0 114px;
  }
  .powerfull .screen {
    width: 818px;
    height: 381px;
  }
  .powerfull .description {
    width: 494px;
  }
  .powerfull .description-first {
    top: 230px;
  }
  .powerfull .description-second {
    top: 400px;
  }
  .powerfull .description::before {
    width: 457px;
  }
}

@media (max-width: 1200px) {
  .join p {
    width: 80%;
  }
  .pricing .slick-slide {
    margin: 0 15px;
  }
  .dragdrop {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dragdrop-slider {
    width: 35%;
    margin-left: 15px;
  }
  .dragdrop-slider .h2 {
    font-size: 45px;
  }
  .features .slick-slide {
    margin: 0 10px;
  }
  .browser {
    background-position-y: 100%;
    padding: 100px 0 140px;
    background-size: 80%;
    background-position-x: 280%;
    margin: 30px 0 64px;
  }
  .browser p {
    width: 60%;
  }
  .slick-slide {
    margin: 0 10px;
  }
  .powerfull .screen {
    width: 718px;
    height: 381px;
  }
  .powerfull .description {
    width: 404px;
  }
  .powerfull .description::before {
    width: 91%;
  }
  .powerfull .description-second {
    top: 450px;
  }
  .powerfull .description .h3 {
    font-size: 20px;
  }
  .powerfull .description p {
    font-size: 16px;
  }
  .features .owl-item {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-copy {
    padding-top: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .join {
    padding-top: 102px;
    padding-bottom: 53px;
  }
  .join p {
    font-size: 16px;
  }
  .pricing .slick-slide {
    margin: 0 25px;
  }
  .pricing .slick-slide .number {
    font-size: 72px;
  }
  .pricing .slick-slide .dollar {
    font-size: 44px;
  }
  .pricing .slick-slide .month {
    font-size: 24px;
  }
  .pricing .slick-slide .pricing-list li {
    font-size: 18px;
  }
  .pricing .slick-list {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .features .slick-slide {
    padding: 0 30px;
    margin: 0;
  }
  .powerfull .description {
    width: 304px;
  }
  .powerfull .description-second {
    top: 470px;
  }
  .powerfull .description::before {
    width: 88%;
  }
  .powerfull .h2 {
    font-size: 50px;
  }
  .powerfull p {
    font-size: 16px;
  }
  .drop {
    max-width: 84%;
  }
  .dragdrop {
    padding-left: 2%;
    padding-right: 2%;
  }
  .dragdrop-slider {
    width: 70%;
  }
  .dragdrop-slider .h2 {
    font-size: 60px;
  }
  .dragdrop-slider p {
    font-size: 18px;
  }
  .dragdrop--progres {
    margin: 0;
  }
  .dragdrop-area {
    display: none;
  }
  .area {
    width: 50%;
  }
  .drop {
    margin-bottom: 32px;
  }
  .dragdrop .task {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .dragdrop .task-icon {
    margin: 0;
    margin-bottom: 5px;
  }
  .browser {
    background-image: none !important;
    padding: 10px 0;
  }
  .header {
    height: 660px;
  }
  .top-nav {
    width: 500px;
    height: 80px;
  }
  .top-nav .menu li {
    display: none;
  }
  .top-nav .menu li:last-child {
    display: block;
  }
  .top-nav .logo {
    height: 56px;
  }
  .top-hamburger {
    display: block;
  }
  .home-img {
    width: 60%;
  }
  .home .h1 {
    font-size: 40px;
  }
  .home .h1 span {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .footer a {
    padding: 0 10px;
  }
  .footer a.social {
    padding: 0 4px;
  }
  .join p {
    width: 90%;
  }
  .pricing .h2 {
    font-size: 50px;
    line-height: 1.3;
  }
  .pricing .slick-slide {
    margin: 0 90px;
  }
  .features .slick-slide {
    padding: 0 4%;
  }
  .features-item p {
    padding: 0 16px;
  }
  .container {
    max-width: 95%;
  }
  .powerfull {
    padding: 54px 0 94px;
  }
  .powerfull .h2 {
    font-size: 35px;
  }
  .powerfull p {
    font-size: 14px;
  }
  .powerfull .screen {
    width: 458px;
    height: 321px;
    margin-top: 107px;
    background-size: contain;
  }
  .browser .h1 {
    font-size: 50px;
  }
  .browser p {
    width: 80%;
  }
  .home-img {
    width: 80%;
  }
  .features-prev {
    left: 0;
  }
  .features-next {
    right: 0;
  }
  .features-arrow {
    width: 15px;
    height: 20px;
  }
}

@media (max-width: 569px) {
  .pricing .slick-slide {
    margin: 0 40px;
  }
  .features .slick-slide {
    padding: 0;
  }
  .features .slick-slide p {
    padding-left: 0;
    padding-right: 0;
  }
  .powerfull .h2 {
    font-size: 30px;
  }
  .powerfull .screen {
    margin-top: 140px;
    width: 385px;
    height: 221px;
  }
  .powerfull .screen .description::after {
    display: none;
  }
  .powerfull .screen::before {
    width: 80%;
  }
  .dragdrop {
    padding: 53px 2% 109px;
  }
  .dragdrop-arrow {
    left: 0;
  }
  .dragdrop-slider {
    width: 95%;
  }
  .dragdrop-slider .h2 {
    font-size: 40px;
  }
  .dragdrop-slider p {
    font-size: 16px;
  }
  .dragdrop-area {
    display: none;
  }
  .features-arrow {
    opacity: 0.3;
  }
  .features-prev {
    left: -10px;
  }
  .features-next {
    right: -10px;
  }
  .container {
    max-width: 90%;
  }
  .header {
    height: 550px;
  }
  .top-nav .logo {
    width: 150px;
  }
  .home .h1 {
    font-size: 30px;
  }
  .home .h1 span {
    font-size: 16px;
  }
  .features .owl-item {
    padding: 0px;
  }
  .features-item p {
    font-size: 12px;
  }
  .browser .h1 {
    font-size: 40px;
  }
  .browser p {
    width: 100%;
    font-size: 14px;
  }
  .browser-feat {
    font-size: 14px;
  }
  .browser-feat::before {
    width: 20px;
    height: 20px;
  }
  .features {
    margin-top: 40%;
  }
  .features--button {
    padding: 10px 54px;
  }
  .top-nav .menu {
    display: none;
  }
  .top-hamburger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .home-button {
    font-size: 15px;
    padding: 4px 32px;
  }
  .home-img {
    width: 95%;
    margin-top: 60px;
  }
}

@media (max-width: 498px) {
  .footer a.social {
    display: none;
  }
  .pricing .slick-slide {
    margin: 0 35px;
  }
  .pricing .slick-slide .number {
    font-size: 50px;
  }
  .pricing .slick-slide .dollar {
    font-size: 30px;
  }
  .pricing .slick-slide .month {
    font-size: 18px;
  }
  .pricing .slick-slide .pricing-list li {
    font-size: 14px;
  }
  .dragdrop-slider {
    margin: 0;
  }
  .dragdrop-slider p {
    font-size: 14px;
  }
  .dragdrop-slider .h2 {
    font-size: 35px;
  }
  .features-arrow {
    z-index: 99;
  }
  .features-item p {
    padding: 0 15px;
  }
  .powerfull {
    padding: 54px 0 29px;
  }
  .powerfull .h1 {
    font-size: 25px;
  }
  .powerfull .screen {
    display: none;
  }
  .powerfull .description {
    position: static;
    text-align: center;
    width: 100%;
  }
  .powerfull .description-first, .powerfull .description-second {
    margin: 0;
  }
  .powerfull .description-first {
    top: 213px;
  }
  .powerfull .description::after {
    display: none;
  }
  .powerfull .description::before {
    display: none;
  }
  .powerfull .description-second {
    left: 0;
    top: 376px;
  }
  .powerfull .description-second::before {
    left: 0;
  }
}

@media (max-width: 391px) {
  .footer a {
    padding: 0 5px;
  }
  .pricing .slick-list {
    overflow: visible;
  }
  .pricing .slick-slide {
    margin: 0 10px;
  }
  .features-arrow {
    display: none;
  }
  .powerfull .description-first {
    top: 270px;
  }
  .powerfull .description-second {
    top: 420px;
  }
}
/*# sourceMappingURL=style.css.map */